extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Erland
        p Full Stack JavaScript Developer

        .about-bio
          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li C++ (cli, directX)
          li Pascal (Delphi)
          li Assembler
          li Git and GitHub
          li Linux cli
          li VS Code, Visual Studio, Vim, Sublime
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug and Ejs

        h6 Contact Info
        ul
          li +32 473 505323
          li erland dot vo@ telenet dot be

        a.btn-link(href='https://www.linkedin.com/in/erland-van-olmen-8a0a9535/') LinkedIn
        a.btn-link(href='https://github.com/TheRealByteraver') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back