extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Erland
        p Full Stack JavaScript Developer

        .about-bio
          p I've always loved to program. More specifically, I love to think about possible solutions for a given problem. For example, the challenges you can pick up from <a target="_blank" href="https://www.codewars.com/">codewars</a> are right up my alley 😀<br>The webdevelopment industry is developing at breakneck pace. The amazing productivity of modern web technology makes it very appealing for application development, especially since your app or site will run on any device with a browser. I decided it was time to familiarize myself more with the environment and technology, so I did two full stack JavaScript bootcamps on <a target="_blank" href="https://www.udemy.com/">Udemy</a>.<br>This gave me a solid foundation but I still felt that I needed more practice, and above all, feedback from a teacher or peers. That is where the Techdegree from <a target="_blank" href="https://www.teamtreehouse.com">Team Treehouse</a> comes in. It covers both frontend and backend JavaScript, including React. At the end, I was left with 10 projects to show off what I learned. Some of them are on this site. 

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li React
          li Node.js: 
            ul 
              li Express 
              li Sequelize
              li Template engines Pug and Ejs
          li Git and GitHub
          li Linux cli
          li SQL 
          li MongoDB
          li VS Code, Visual Studio, Vim, Sublime, Atom
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li qBasic and quickBasic
          li C and C++ (cli, directX)
          li Pascal and Delphi
          li Turbo Assembler

        h6 Contact Info
        ul
          li +32.473505323
          li erland.vo@telenet.be

        a.btn-link(href='https://www.linkedin.com/in/erland-van-olmen-8a0a9535/') LinkedIn
        a.btn-link(href='https://github.com/TheRealByteraver') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back