extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Erland
        p Full Stack JavaScript Developer

        .about-bio
          p I've always loved to program. More specifically, I love to think about possible solutions for a given problem. The challenges you can pick up from https://www.codewars.com/ are right up my alley. The webdevelopment industry is developing at breakneck pace. Since it is such a productive environment (i.e. building a simple interface is very fast) I decided to teach myself the ins and outs of this technology. So I did two full stack Javascript bootcamps on https://www.udemy.com/. Still, I felt that I needed more practice, and above all, feedback from a teacher. Hence the Teamtreehouse full stack JavaScript Tech Degree, through which I'm halfway now.

      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li C++ (cli, directX)
          li Pascal (Delphi)
          li Assembler
          li Git and GitHub
          li Linux cli
          li VS Code, Visual Studio, Vim, Sublime
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug and Ejs

        h6 Contact Info
        ul
          li +32 473 505323
          li erland dot vo@ telenet dot be

        a.btn-link(href='https://www.linkedin.com/in/erland-van-olmen-8a0a9535/') LinkedIn
        a.btn-link(href='https://github.com/TheRealByteraver') GitHub
        a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back