extends layout.pug
block content

  article.portfolio-intro
    h1 My Portfolio
    p This portfolio contains a few JavaScript apps I made recently. The portfolio site itself was written using the Express Node.js framework and uses Pug as template engine. Apps written in React and/ or Node are hosted on the free tier of Heroku and need some time to load. Once loaded they will work at normal speed. Thank you for your patience!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.thumb_image}`,alt=`Thumbnail of ${project.project_name}`)
            h5 #{project.project_name}