extends layout.pug
block content

  article.portfolio-intro
    h1 My Portfolio
    p This portfolio contains a few JavaScript apps I made recently.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`http://localhost:3000/static/${project.thumb_image}`,alt=`Thumbnail of ${project.project_name}`)
            h5 #{project.project_name}