<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site


    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    //- link(rel="preconnect", href="https://fonts.gstatic.com")
    //- link(href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap", rel="stylesheet")

    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap", rel="stylesheet")

    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/profile.jpg', alt='')
        .dev-intro-box
          h5 Erland
          p My name is Erland. I started programming in my teens with qBasic, Borland Pascal, Watcom C en Turbo Assembler. Learned myself C++ a decade ago. Am dabbling with webdevelopment since a few years now, did a few bootcamps and now finished the Treehouse tech degree to consolidate the knowledge. Professionally, I've been a support engineer in the webhosting world for the past 10 years, and now actively looking for a position as junior JavaScript developer, be it frontend or backend - or both!
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- This span is for the mobile layout
          span Erland

      block content

  script(src='/static/js/script.js')